<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 设值 注入(通过构造方法) 第一种方式 -->
	<bean id="people" class="com.pojo.People">
		<constructor-arg index="0" value="1"></constructor-arg>
		<constructor-arg index="1" value="张三"></constructor-arg>
		<constructor-arg index="2" value="33"></constructor-arg>
	</bean>
	<bean id="people1" class="com.pojo.People">
		<constructor-arg name="id" value="2"></constructor-arg>
		<constructor-arg name="name" value="李四"></constructor-arg>
		<constructor-arg name="age" value="35"></constructor-arg>
	</bean>
	<!-- 这样来指定顺序，不然构造方法重载时，会从构造方法最后一个开始寻找，不去看参数的顺序 -->
	<bean id="people2" class="com.pojo.People">
		<constructor-arg index="0" name="id" value="2"></constructor-arg>
		<constructor-arg index="1" name="name" value="李四"></constructor-arg>
		<constructor-arg index="2" name="age" value="36"></constructor-arg>
	</bean>
	
	<!-- 设值 注入(通过set方法) 第二种方式 -->
	<bean id="peo" class="com.pojo.People">
		<property name="id" value="222"></property>
		<property name="name" value="张三"></property>
		<property name="age" value="32"></property>
	</bean>
	<bean id="peo1" class="com.pojo.People">
		<property name="id">
			<value>123</value>
		</property>
		<property name="name">
			<value>"李四"</value>
		</property>
		<property name="age">
			<value>33</value>
		</property>
	</bean>

	<bean id="peopleSetListMapArrayProperty"
		class="com.pojo.PeopleSetListMapArrayProperty">
		<property name="id">
			<value>123</value>
		</property>
		<property name="name">
			<value>"李四"</value>
		</property>
		<property name="age">
			<value>33</value>
		</property>
		<!-- set赋值 -->
		<property name="sets">
			<set>
				<value>qwe</value>
				<value>dsd</value>
			</set>
		</property>
		<!-- list赋值 第一种赋值方式 -->
		<property name="list">
			<list>
				<value>qwe</value>
				<value>www</value>
			</list>
		</property>
		<!-- list赋值 第二种赋值方式 -->
		<property name="list1" value="1,2,3"></property>
		<!-- 数组 -->
		<property name="strs">
			<array>
				<value>1</value>
				<value>2</value>
				<value>3</value>
			</array>
		</property>
		<!-- map -->
		<property name="map">
			<map>
				<entry key="a" value="aa"></entry>
				<entry key="b" value="bb"></entry>
				<entry key="c" value="cc"></entry>
			</map>
		</property>
		<!-- property -->
		<property name="prop">
			<props>
				<prop key="key">value</prop>
				<prop key="key1">value1</prop>
				<prop key="key2">value2</prop>
			</props>
		</property>
		<!-- 对象 -->
		<property name="desk" ref="dest"></property>
	</bean>
	<bean id="dest" class="com.pojo.Desk">
		<property name="id" value="1"></property>
		<property name="price" value="12"></property>
	</bean>
</beans>